* {
  box-sizing: border-box;
}
.chat-box {
  box-sizing: border-box;
  position: absolute;
  right: 6vw;
  bottom: 12vh;
  transition: all 0.3s linear;
  border-radius: 10px 10px;
  border: 1px solid paleturquoise;
  width: 0px;
  .input,
  .title,
  .title-btn {
    width: 0;
    transition: all 0.3s linear;
  }

  &.open {
    transition: all 0.3s linear;
    width: 350px;
    height: 500px;
    &.active {
      width: 90vw;
      height: 80vh;
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.2rem 1rem;
      background-color: paleturquoise;
      border-radius: 10px 10px 0 0;
      width: auto;
      span {
        font-weight: bold;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: small;
      }
      .title-btn {
        width: fit-content;
        font-size: small;
      }
    }
    .body {
    }
    .input {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 350px;
      height: fit-content;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: paleturquoise;
      border-radius: 0px 0px 10px 10px;
      box-sizing: border-box;

      &.active {
        width: 90vw;
        .current-input {
          .send-btn {
            right: 70px;
          }
        }
      }
      .input-history {
        box-sizing: border-box;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 300px;
        scroll-behavior: smooth;
        height: 0px;

        transition: all 0.3s linear;
        &.active {
          height: 20px;
          overflow-x: auto;
          overflow-y: hidden;
          padding: 2px;
          margin: 2px;
        }
        .countries {
          display: inline;
          background-color: aliceblue;
          margin-left: 3px;
          border-radius: 3px;
          padding: 2px;

          height: 25px;
        }
      }
      .current-input {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
